<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Gardell Wagner Wedding!</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">  
        <link href="https://fonts.googleapis.com/css?family=Great+Vibes|Amaranth|Amatic+SC|Amatic+SC:700|Poppins:400,500" rel="stylesheet">        
        <link rel="stylesheet" href="/stylesheets/main.css">  
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    </head>
    <body>
        <header>
            <span class="nav-brand">#GoingGardell</span>
            <div id='nav-container'>
                <div class="navLogo">
                    <h1 class="weddingTag">The Wedding Of</h1>
                    <br>
                    <h1 class="weddingTag">Michelle Wagner <span id="ampersand">& </span> Alexander Gardell</h1> 
                </div>
            </div>            
            <nav class="navHeader">
                <div class="nav-burger" id="hamburger">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>     
                <ul class="nav-links" id="links">
                    <li><a href="/home">Home</a></li>
                    <li class="nav-links-seperator"> &#8226 </li>
                    <li><a href='/ourstory'>Our Story</a></li>
                    <li class="nav-links-seperator"> &#8226 </li>
                    <li class='nav-dropdown'><button>Info<i class="fas fa-caret-down"></i></button>
                        <ul>
                            <li><a href ='/location'>Favorite Spots</a></li>
                            <li><a href ='/music'>Playlist</a></li>
                            <li><a href ='#'>Registry</a></li>
                        </ul>
                    </li>
                    <li class="nav-links-seperator"> &#8226 </li>
                    <li class='nav-dropdown'><button>RSVP<i class="fas fa-caret-down"></i></button>
                        <ul>
                            <li><a href="/rsvp">Wedding</a></li>
                            <li><a href ='/rsvpShower'>Bridal Shower</a></li>
                        </ul>
                    </li>
                    <li class="nav-links-seperator"> &#8226 </li>
                    <li><a href='/faq'>FAQ</a></li>                    
                </ul>  
            </nav> 
        </header>                                  