<% include partials/header %>
<div id='faqPage'>
    <h2>Questions, Comments, Concerns? Drop us a line using the form below!</h2>
    <div>
        <form id='faq-submit-form'>
            <div class='form-group'>
                <input id='faq-name' type='text' placeholder='Name' required>
                <input id='faq-subject' type='text' placeholder='Subject' required>
                <textarea id='faq-message' type='text' placeholder='Message...'></textarea>
            </div>  
            <button class='submit-button' type='submit'>SEND!</button>
        </form>
    </div>
</div>

<% include partials/footer %>