<% include partials/header %>
    <main id='index-main'>
        <aside id='vital-information'>
            <h2>Ceremony Information</h2>
            <ul>
                <li>Masso's Red Pine Inn</li>
                <li>210 Delsea Dr S, Glassboro, NJ 08028</li>
                <li>Date: October 27th, 2019</li>
                <li>Start Time: 3:00 PM</li>
                <li>Please arrive by 2:30 PM</li>
            </ul>
            <h2>Hotel Information</h2>
            <ul>
                <li>Courtyard by Marriott Glassboro Rowan University</li>
                <li>325 Rowan Blvd, Glassboro, NJ 0802</li>
                <li>Phone Number: (856) 881-0048</li>
            </ul>   
            <h2>Transportation Information</h2>
            <ul>
                <p>
                    We are arranging a bus to shuttle everyone from the venue to the hotel after the wedding ends at 9 PM and everyone is more than welcome to attend the after party!!

                    The venue has confirmed guests can leave their cars overnight, so feel free to take an Uber or Lyft home. We want everyone to get where they're going safely!
                </p>
            </ul>                      
        </aside>
    </main>
<% include partials/footer %>