<% include partials/header %>
    <div class="navLogo">
        <h1 class="weddingTag">The Wedding Of</h1>
        <br>
        <h1 class="weddingTag">Alexander Gardell <span id="ampersand">& </span> Michelle Wagner</h1> 
    </div>
<% include partials/footer %>