<% include partials/header %>
    <main id='index-main'>
        <aside id='vital-information'>
            <h2>Ceremony Information</h2>
            <ul>
                <li>Location: Masso's Red Pine Inn</li>
                <li>Address: 210 Delsea Dr S, Glassboro, NJ 08028</li>
                <li>Date: October 27th, 2019</li>
                <li>Start Time: 3:00 PM</li>
                <li>Please arrive by 2:30 PM</li>
            </ul>
            <h2>Hotel Information</h2>
            <ul>
                <li>Location: Courtyard Glassboro Rowan University</li>
                <li>Address: 325 Rowan Blvd, Glassboro, NJ 0802</li>
                <li>Phone Number: (856) 881-0048</li>
            </ul>            
        </aside>
        <%# <div id="index-image">
            <img src="/images/allyouneedlove.jpg" alt=""> 
        </div> %>
    </main>
<% include partials/footer %>