<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Gardell Wagner Wedding!</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Great+Vibes|Kaushan+Script" rel="stylesheet">
        <link rel="stylesheet" href="/stylesheets/landing.css">
    </head>

    <body>
        <div id="backgroundCollage" class="container-fluid">
            <h1 class="weddingTag">#GoingGardell</h1>
            <h3 class="weddingTag">Welcome to our wedding website!!</h3>
            <p><a class="btn btn-primary btn-lg" href="/home" role="button">Enter</a></p>             
        </div>
        <p>Designed by Alex Gardell</p>
    </body>
</html>