<% include partials/header %>

    <div id='music-page'>
        <h1>Please enter the song and artist that you would like to request at our wedding!</h1>
    </div>

    <div>
        <form id='song-request-form' action='/music' method='POST'>
            <div class='form-group'>
                <input id='song-title' type='text' name='song' placeholder='Song'>
                <span class='box-break'>|</span>
                <input id='artist' type='text' name='artist' placeholder='Artist'>
            </div>
            <button id='song-request-button' class='submit-button' type='submit'>REQUEST</button>
        </form>
    </div>
    <% if (requests != 'undefined' && requests.length > 0) { %>
        <% requests.forEach((request) => { %>
            <div id='song-list' style='color: lightgrey'>
                <p>Song: <%=request.song%>, Artist: <%=request.artist%></p>
            </div>
        <% }) %>
    <% } %>%>

<% include partials/footer %> 