<% include partials/header %>
    <main id='registry-main'>
        <section id='registry-links'>
            <a href="https://www.amazon.com/wedding/alexander-gardell-michelle-wagner-glassboro-october-2019/registry/FSVHQ24J0O0W " class="registry-icon"><i class="fab fa-amazon"></i></a>
            <a href="#" class="registry-icon"><i class="fas fa-bullseye"></i></a>
        </section>
    </main>
<% include partials/footer %>