<% include partials/header %>
<div id="rsvpPage" class="container">
    <h2>Please enter your information below to RSVP:</h2>
    <div>
        <form action="#" method="POST">
            <div class="form-group">
                <input type="text" name="firstname">
            </div>
            <div class="form-group">
                <input type="text" name="lastname">
            </div>  
            <div class="form-group">
                <input type="text" name="email">
            </div>          
            <button type="submit">SEND RSVP</button>
        </form>
    </div>
</div>
<% include partials/footer %>