<% include partials/header %>
<div id='rsvpPage'>
    <h2>Please enter your information below to RSVP:</h2>
    <div>
        <form id='guest-list' action='#' method='POST'>
            <div class='form-group'>
                <input id ='firstname' type='text' name='firstname' placeholder='First Name'>
                <span>|</span>
                <input id='lastname' type='text' name='lastname' placeholder='Last Name'>
                <span>|</span>
                <input id='email' type='text' name='email' placeholder='Email'>
                <button id='add-person' type='button'><i class='far fa-user-circle'></i>&nbsp;&nbsp;Click me to add additional guests!</button>
            </div>  
            <button class='submit-button' type='submit'>SEND RSVP</button>
        </form>
    </div>
</div>
<% include partials/footer %>