<% include partials/header %>
    <main id='our-story-main'>
        <div id='imageFrame' class='frame'>
            <span><i class="fas fa-times"></i></span><img id='frameContent' class='imageFrame-content' src="" alt="">
        </div>
        <div class='info-bio'>
            <p><span id='bio-header' class="weddingTag">His Story</span><img class='images' src='/images/weddingRing.jpg'>
            “At the time I was living in Philly with my friends, little did I know that one simple swipe would lead me to my future wife. She loved tattoos, Arrested Development and metal, that’s all I needed to hear. Funnily enough, we shouldn’t have even been matched with her living in Marlton and myself in Philly, but we gave it a shot anyways.
            
            I’ll never forget our first date. Being a morning person, I wanted to spend the whole day together and asked her to come over super early (spoiler alert, she did not); so we agreed to have a lunch date, which I consider myself blessed because that’s still pretty early for her. When she arrived I did what any sane man would do and planted a kiss right on her lips. To this day it’s one of the bravest things I’ve ever done. She didn’t run away so we headed to lunch. I made sure to pick a spot called Lucky’s Last Chance since it had great mac and cheese, one of her favorite foods.
            
            We sat down and ordered, her the mac and myself the Inferno burger. I like spicy food and thought I was up to the challenge (I wasn’t). Despite repeated warnings from the waiter I insisted on that burger. How was I going to back down in front of this beautiful woman. The food arrives and I take my first bite, it’s roughly the temperature of the surface of the Sun. Fast forward exactly two bites and a glass of milk later and I’m shamefully throwing in the towel. 
            
            So to summarize our first date at that point: I ask her to come over at the crack of dawn like an insane person, proceed to kiss her right away...like an insane person, and then embarrass myself trying to stomach a burger. I think the date’s a disaster. But we end up watching American Horror Story all night, just hanging out; talking and laughing. It was the best first date I’ve ever had.
            
            As of January 25th, 2019 we've been together for five wonderful, amazing years. Our journey hasn’t been a fairy tale by any means; we’ve bounced around from Philly to Pittsburgh to Ohio and soon to be back in the Philly area. We found new jobs, made new friends, and picked up the cutest little dog along the way. We’ve faced challenges and adversity hand-in-hand and have stood firm. 
            
            She’s my best friend, my companion, my soulmate. She’s the kick in the rear when I’m dragging my feet and the warm hug when I’m feeling down. I can’t fathom spending the rest of my life with anyone else on this planet.”
            </p>
        </div> 
        <div class='info-bio'>
            <p><span id='bio-header' class="weddingTag">Her Story</span><img class='images' src='/images/lookingback.jpg'>
            "That winter I was living in South Jersey commuting to school, and little did I know I was about to swipe right on my future husband. He had tattoos, a similar taste in music, and a great sense of humor. I was sold. Funny enough, Alex was out of my search radius and should never have been matched with me. But I decided he was worth the drive and gave him a shot anyways. 

            I’ll never forget our first date. Alex being a morning person, invited me to a date at nine...in the morning. I admired his eager nature, but being someone who takes her sleep seriously, I talked him down to an afternoon date. When I arrived in Manayunk, I naturally had to pay for parking because I was too nervous to parallel park with a foot of snow on the ground. I started walking up his street just as he was walking down. We met up with each other and before I could say a word, he leaned in and kissed me. As if parking in Philly wasn’t enough, he immediately landed one on me, talk about butterflies!! We walked down Main Street to a restaurant Alex chose based on my love of Mac and Cheese called Lucky’s Last Chance. 

            We sat down and ordered, I of course got the Mac and Cheese and he ordered the Inferno Burger. The waiter initially discouraged Alex’s ordering of said burger due to the spicy nature of the ghost peppers, but Alex remained determined and placed the order anyways. After one bite his water wasn't cutting it as a chaser, and he ordered a glass of milk. After bite two he forfeits the match against the Inferno Burger and asked for a to-go box. 

            So to summarize our first date at that point; he asks me to wake up super early on a Saturday, proceeds to greet me with a kiss instead of a hello, then continues to order a ghost pepper burger he took two bites of. I thought the date was going great and his goofy nature matched mine perfectly. We ended up at his apartment binge watching American Horror Story on Netflix; relaxing, talking, and laughing. It was the best first date I’ve ever had. 

            As of January 25th, 2019 we’ve been together for five delightful sublime years. Our journey hasn’t been a fairy tale by any means, but our love for each other sure has. We bounced around from Philly to Pittsburgh, then Ohio and are soon to be back in the Philly area. Our journey included starting our careers at new jobs, making new friends, and picking up the cutest little puppy along the way. Our love has alway been that cheesy unconditional love you see in the movies; we happily spend every minute together and live our lives in complete solidarity of each other. 

            He’s my best friend, my other half, my soulmate. He’s the fire under my butt that keeps me going when things get tough. He’s the warm hug that recharges me when I’m feeling low. I can’t fathom spending the rest of my life with anyone else on this planet."</p>
        </div>
    </main>  
    <div class='image-grid'>
        <figure class='grid-thumbnail'>
            <img class='grid-thumbnail-image' src="/images/canoe_trip_river.jpg" alt="">
        </figure>
        <figure class='grid-thumbnail'>
            <img class='grid-thumbnail-image' src="/images/us_looking_away.JPG" alt="">
        </figure>
        <figure class='grid-thumbnail'>
            <img class='grid-thumbnail-image' src="/images/field_with_ruby.jpg" alt="">
        </figure>
        <figure class='grid-thumbnail'>
            <img class='grid-thumbnail-image' src="/images/carnegie_mellon.jpg" alt="">
        </figure>
        <figure class='grid-thumbnail'>
            <img class='grid-thumbnail-image' src="/images/michelle_foot_tilted.JPG" alt="">
        </figure>  
        <figure class='grid-thumbnail'>
            <img class='grid-thumbnail-image' src="/images/mr_mrs_pacman.jpg" alt="">
        </figure>                                              
    </div>
<% include partials/footer %>