<% include partials/header %>
    <div class="navLogo">
        <h1 id='bio-header' class="weddingTag">Our Story</h1>
    </div>
    <div id='imageFrame' class='frame'>
        <img id='frameContent' class='imageFrame-content' src="" alt="">
    </div>
    <div class='info-bio'>
        <p><img class='images' src='/images/kissing.jpg'>Bacon ipsum dolor amet turducken chuck chicken andouille. Buffalo spare ribs andouille meatball, kevin frankfurter capicola sirloin bacon drumstick. Meatloaf doner spare ribs, turkey shankle sirloin capicola brisket drumstick short ribs alcatra shoulder ribeye beef ribs turducken. Prosciutto ground round tenderloin boudin cow sirloin, filet mignon brisket. Jerky alcatra beef t-bone sirloin turducken andouille fatback. Brisket burgdoggen shoulder kevin prosciutto pastrami, ground round jowl doner. Bacon buffalo shoulder, picanha short loin meatball fatback pig salami kielbasa pork.

        Spare ribs beef pancetta swine pork salami. Drumstick ribeye jowl meatball flank beef filet mignon. Ball tip shankle short loin, tri-tip shoulder swine strip steak tenderloin pork loin alcatra salami landjaeger brisket. Brisket prosciutto doner picanha, flank ground round landjaeger tongue spare ribs venison ham hock salami. Porchetta sirloin alcatra, corned beef landjaeger chuck pork loin pork belly bresaola tongue flank strip steak meatball cupim pastrami. Bresaola pig tongue tenderloin jowl meatball ground round short ribs hamburger corned beef spare ribs porchetta drumstick venison.</p>
    </div> 
    <div class='info-bio'>
        <p><img class='images' src='/images/weddingRing.jpg'>Bacon ipsum dolor amet turducken chuck chicken andouille. Buffalo spare ribs andouille meatball, kevin frankfurter capicola sirloin bacon drumstick. Meatloaf doner spare ribs, turkey shankle sirloin capicola brisket drumstick short ribs alcatra shoulder ribeye beef ribs turducken. Prosciutto ground round tenderloin boudin cow sirloin, filet mignon brisket. Jerky alcatra beef t-bone sirloin turducken andouille fatback. Brisket burgdoggen shoulder kevin prosciutto pastrami, ground round jowl doner. Bacon buffalo shoulder, picanha short loin meatball fatback pig salami kielbasa pork.

        Spare ribs beef pancetta swine pork salami. Drumstick ribeye jowl meatball flank beef filet mignon. Ball tip shankle short loin, tri-tip shoulder swine strip steak tenderloin pork loin alcatra salami landjaeger brisket. Brisket prosciutto doner picanha, flank ground round landjaeger tongue spare ribs venison ham hock salami. Porchetta sirloin alcatra, corned beef landjaeger chuck pork loin pork belly bresaola tongue flank strip steak meatball cupim pastrami. Bresaola pig tongue tenderloin jowl meatball ground round short ribs hamburger corned beef spare ribs porchetta drumstick venison.</p>
    </div>  

    <div class='image-grid'>
        <figure class='grid-thumbnail'>
            <img class='grid-thumbnail-image' src="/images/weddingRing.jpg" alt="">
        </figure>
        <figure class='grid-thumbnail'>
            <img class='grid-thumbnail-image' src="/images/kissing.jpg" alt="">
        </figure>
        <figure class='grid-thumbnail'>
            <img class='grid-thumbnail-image' src="/images/love-collage.jpg" alt="">
        </figure>
        <figure class='grid-thumbnail'>
            <img class='grid-thumbnail-image' src="/images/weddingRing.jpg" alt="">
        </figure>
        <figure class='grid-thumbnail'>
            <img class='grid-thumbnail-image' src="/images/weddingRing.jpg" alt="">
        </figure>  
        <figure class='grid-thumbnail'>
            <img class='grid-thumbnail-image' src="/images/weddingRing.jpg" alt="">
        </figure>                                              
    </div>
<% include partials/footer %>