<% include partials/header %>
    <!--<div class="navLogo-story">
        <h1 id='bio-header' class="weddingTag">Our Story</h1>
    </div>-->
    <div id='imageFrame' class='frame'>
        ol<img id='frameContent' class='imageFrame-content' src="" alt="">
    </div>
    <main id='our-story-main'>
        <div class='info-bio'>
            <p><span id='bio-header' class="weddingTag">His Story</span><img class='images' src='/images/kissing.jpg'>
            “At the time I was living in Philly with my friends, little did I know that one simple swipe would lead me to my future wife. She loved tattoos, Arrested Development and metal, that’s all I needed to hear. Funnily enough, we shouldn’t have even been matched with her living in Marlton and myself in Philly, but we gave it a shot anyways.
            
            I’ll never forget our first date. Being a morning person, I wanted to spend the whole day together and asked her to come over super early (spoiler alert, she did not); so we agreed to have a lunch date, which I consider myself blessed because that’s still pretty early for her. When she arrived I did what any sane man would do and planted a kiss right on her lips. To this day it’s one of the bravest things I’ve ever done. She didn’t run away so we headed to lunch. I made sure to pick a spot called Lucky’s Last Chance since it had great mac and cheese, one of her favorite foods.
            
            We sat down and ordered, her the mac and myself the Inferno burger. I like spicy food and thought I was up to the challenge (I wasn’t). Despite repeated warnings from the waiter I insisted on that burger. How was I going to back down in front of this beautiful woman. The food arrives and I take my first bite, it’s roughly the temperature of the surface of the Sun. Fast forward exactly two bites and a glass of milk later and I’m shamefully throwing in the towel. 
            
            So to summarize our first date at that point: I ask her to come over at the crack of dawn like an insane person, proceed to kiss her right away...like an insane person, and then embarrass myself trying to stomach a burger. I think the date’s a disaster. But we end up watching American Horror Story all night, just hanging out; talking and laughing. It was the best first date I’ve ever had.
            
            As of January 25th, 2019 we've been together for five wonderful, amazing years. Our journey hasn’t been a fairy tale by any means; we’ve bounced around from Philly to Pittsburgh to Ohio and soon to be back in the Philly area, finding new jobs, making new friends, and picking up the cutest little dog along the way. We’ve faced more downs than ups and have paid more security deposits than I can count, but we’re stronger for it. We’ve faced challenges and adversity hand-in-hand and have stood firm. 
            
            She’s my best friend, my companion, my soulmate. She’s the kick in the rear when I’m dragging my feet and the warm hug when I’m feeling down. I can’t fathom spending the rest of my life with anyone else on this planet.”
            </p>
        </div> 
        <div class='info-bio'>
            <p><span id='bio-header' class="weddingTag">Her Story</span><img class='images' src='/images/weddingRing.jpg'>
            Bacon ipsum dolor amet turducken chuck chicken andouille. Buffalo spare ribs andouille meatball, kevin frankfurter capicola sirloin bacon drumstick. Meatloaf doner spare ribs, turkey shankle sirloin capicola brisket drumstick short ribs alcatra shoulder ribeye beef ribs turducken. Prosciutto ground round tenderloin boudin cow sirloin, filet mignon brisket. Jerky alcatra beef t-bone sirloin turducken andouille fatback. Brisket burgdoggen shoulder kevin prosciutto pastrami, ground round jowl doner. Bacon buffalo shoulder, picanha short loin meatball fatback pig salami kielbasa pork.

            Spare ribs beef pancetta swine pork salami. Drumstick ribeye jowl meatball flank beef filet mignon. Ball tip shankle short loin, tri-tip shoulder swine strip steak tenderloin pork loin alcatra salami landjaeger brisket. Brisket prosciutto doner picanha, flank ground round landjaeger tongue spare ribs venison ham hock salami. Porchetta sirloin alcatra, corned beef landjaeger chuck pork loin pork belly bresaola tongue flank strip steak meatball cupim pastrami. Bresaola pig tongue tenderloin jowl meatball ground round short ribs hamburger corned beef spare ribs porchetta drumstick venison.</p>
        </div>
    </main>  
    <div class='image-grid'>
        <figure class='grid-thumbnail'>
            <img class='grid-thumbnail-image' src="/images/weddingRing.jpg" alt="">
        </figure>
        <figure class='grid-thumbnail'>
            <img class='grid-thumbnail-image' src="/images/pittsburgh_skyline.jpg" alt="">
        </figure>
        <figure class='grid-thumbnail'>
            <img class='grid-thumbnail-image' src="/images/love-collage.jpg" alt="">
        </figure>
        <figure class='grid-thumbnail'>
            <img class='grid-thumbnail-image' src="/images/carnegie_mellon.jpg" alt="">
        </figure>
        <figure class='grid-thumbnail'>
            <img class='grid-thumbnail-image' src="/images/fall_leaves.jpg" alt="">
        </figure>  
        <figure class='grid-thumbnail'>
            <img class='grid-thumbnail-image' src="/images/mr_mrs_pacman.jpg" alt="">
        </figure>                                              
    </div>
<% include partials/footer %>