html, body {
    height: 100%;
}

#backgroundCollage {
    background-image: url("../images/allyouneedlove.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 800px 800px;
    height: 125vh;
    width: 100%;
    padding-top: 150px;
}

#backgroundCollage > p {
    display: flex;
    justify-content: center;
    margin-top: 515px;
    font-family: 'Dancing Script', cursive;
    font-size: 300%;
}

#backgroundCollage > p > .button {
    color: antiquewhite;
    text-decoration: none;
}