body.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown) {
  overflow: auto;
}

html,
body {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url("../images/1084731_baby-breath-wallpaper.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  overflow: visible;
}

body.noscroll {
  overflow: hidden;
}

.weddingTag {
  font-family: "Great Vibes", cursive;
  font-size: 3em;
  text-shadow: 2px 3px 2px black, 4px 1px 2px black;
}

.navHeader {
  display: flex;
  flex-direction: column;
}

.nav-burger {
  position: absolute;
  left: 10px;
  top: 15px;
  width: 20px;
  height: 16.5px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  z-index: 1;
}

.nav-burger span {
  display: block;
  position: absolute;
  height: 3px;
  width: 20px;
  background: ghostwhite;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.nav-burger span:nth-child(1) {
  top: 0px;
}

.nav-burger span:nth-child(2) {
  top: 8px;
}

.nav-burger span:nth-child(3) {
  top: 16px;
}

.nav-burger.open-links span:nth-child(1) {
  top: 8px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

.nav-burger.open-links span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

.nav-burger.open-links span:nth-child(3) {
  top: 8px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.nav-brand {
  color: ghostwhite;
  font-family: 'Amaranth', sans-serif;
  font-size: 25px;
  text-decoration: none;
  text-shadow: 3px 2px 2px black;
  position: absolute;
  top: 5px;
  right: 20px;
}

.nav-links.open-links {
  background-color: rgba(0, 0, 0, 0.39);
}

.nav-links {
  /*display: none;*/
  justify-content: space-around;
  text-align: left;
  flex-direction: column;
  width: 0;
  list-style: none;
  position: absolute;
  top: 0px;
  padding-top: 35px;
  overflow-x: hidden;
  transition: all .2s linear;
}

.nav-links li a,
.nav-links li button,
.nav-links .nav-links-seperator {
  color: ghostwhite;
  font-family: 'Amaranth', sans-serif;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  text-shadow: 3px 2px 2px black;
  font-size: 25px;
  white-space: nowrap;
  overflow: hidden;
}

#nav-container {
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 5vh 5vh 0 5vh;;
}

.navLogo {
  color: ghostwhite;
  font-family: "Great Vibes", cursive;
  text-align: center;
  padding: 5vh;
  display: inline-block;
  font-size: 12px;
}

.navLogo h1:nth-child(3) {
  display: flex;
  flex-direction: column;
}

.navLogo-story {
  color: ghostwhite;
  font-family: "Great Vibes", cursive;
  text-align: center;
  padding: 5vh;
  display: block;
}

#ampersand {
  font-family: "Great Vibes", cursive;
  font-size: 200%;
  padding-top: 0.15em;
  padding-right: 0.15em;
}

#index-main {
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
}

#vital-information {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 3vh;
  color: ghostwhite;
  font-family: 'Amaranth', sans-serif;
  text-shadow: 3px 2px 2px black;
  font-size: 25px;
  background-color: rgba(0,0,0,0.3);
  margin: 2vh;
}

#vital-information h2 {
  text-align: center;
  text-decoration: underline;
}

#vital-information ul {
  list-style: none;
  padding: 0;
}

#index-image {
  text-align: center;
  padding-bottom: 10px;
  flex: 1;
  /*background-image: url("../images/allyouneedlove.jpg");*/
  /*height: 325px;
  background-size: cover;
  background-position-y: 20%;*/
}

#index-image > img {
  width: 94%;
  padding: 10vh 0;
  /*border: 5px solid lightgray;*/
}

.info-bio {
  color: ghostwhite;
  width: 85%;
  margin-top: 30px;
}

.info-bio p {
  white-space: pre-line;
}

.images {
  height: 288px;
  cursor: pointer;
  -webkit-backface-visibility: hidden;
}

.images:hover {
  transition: 0.5s;
  opacity: 0.4;
}

#imageFrame {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

.imageFrame-content {
  margin: auto;
  display: block;
  max-width: 85%;
  max-height: 85%;
}

/* Add Animation - Zoom in the Modal */
.imageFrame-content {
  animation-name: zoom;
  animation-duration: 0.6s;
}

#info-window-blurb {
  max-width: 200px;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.info-bio img[src="/images/weddingRing.jpg"] {
  float: right;
  margin-left: 10px;
  margin-bottom: 10px;
}

.info-bio img[src="/images/lookingback.jpg"] {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

#music-page {
  width: 100%;
  font-family: 'Amaranth', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: ghostwhite;
}

#rsvpPage, #faqPage {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 125px auto 100px auto;
  background-color: rgba(0,0,0,0.3);
  font-family: 'Amaranth', sans-serif;
  color: ghostwhite;
  text-shadow: 3px 2px 2px black;
}

#rsvpPage > h2, #faqPage > h2 {
  display: flex;
  font-size: 50px;
  margin-bottom: 20px;
  text-align: center;
  justify-content: center;
}

#add-person {
  cursor: pointer;
  background-color: transparent;
  border: none;
  color: ghostwhite;
  font-size: 25px;
  margin-bottom: 7px;
  text-shadow: inherit;
}

#add-person > i {
  font-size: 20px;
  color: lightgrey;
}

#rsvpPage > div, #faqPage > div {
  width: 100%;
}

#rsvpPage > div > form, #faqPage > div > form {
  width: 100%;
  text-align: center;
  padding-bottom: 10vh;
}

#rsvpPage .form-group,
#faqPage .form-group {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.form-group input[type="text"] {
  width: 200px;
  margin: 0 25px;
  font-size: 25px;
}

#rsvpPage > div > form > .submit-button,
#faqPage > div > form > .submit-button {
  font-size: 30px;
  margin-top: 15px;
}

#rsvpPage > div > form > .submit-button:hover,
#faqPage > div > form > .submit-button:hover {
  background-color: ghostwhite;
  cursor: pointer;
}

.box-break {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.open-links {
  display: flex;
  width: 100%;
  transition: all .2s linear;
}

.form-group input[name*="email"] {
  margin-bottom: 40px;
}

.far.fa-times-circle.delete-button {
  width: 240px;
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
  margin-bottom: 5px;
  cursor: pointer;
}

#bio-header {
  font-size: 3em;
  margin-top: 2%;
}

.image-grid {
  display: inline-grid;
  grid-template-columns: repeat(3, 18%);
  margin-top: 40px;
  grid-gap: 10px;
  justify-content: center;
}

.grid-thumbnail-image {
  object-fit: cover;
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.grid-thumbnail-image:hover {
  opacity: 0.7;
  transition: 0.5s;
}

.nav-dropdown {
  transition: all 0.5s ease;
}

.nav-dropdown.pseudo-hover > ul {
  display: block;
  max-height: 500px;
  z-index: 1;
  transition: all 1.5s linear;
}

.nav-dropdown > ul {
  transition: all 0.5s ease;
  list-style: none;
  text-align: left;
  padding: 0;
  max-height: 0px;
  overflow: hidden;
  z-index: 1;
  margin-left: 20px;
}

.nav-dropdown > button > i {
  font-size: 20px;
  padding-left: 5px;
}

.nav-dropdown > button {
  display: flex;
  align-items: center;
}

#map {
  height: 500px;
  width: 90%;
  margin: 40px auto 20px auto;
}

.info-bio-location {
  color: lightgray;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 40px auto 0 auto;
}

.info-bio-location > #end {
  margin: 10px 0 10px 0;
}

#location-body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 100px;
}

.favorite-spots {
  margin-top: 10px;
  background-color: rgba(0,0,0,0.3);
  color: ghostwhite;
  text-shadow: 3px 2px 2px black;
}

.favorite-spots ol li a {
  color: ghostwhite;
  text-decoration: underline;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

.favorite-spots ol li a:hover {
  font-weight: bold;
}

.favorite-spot-addr {
  cursor: pointer;
}

#favorite-spots-header {
  font-family: 'Amaranth', sans-serif;
  text-align: center;
  padding-top: 10px;
  font-size: 1.25em;
  text-shadow: 3px 2px 2px black;
}

#bodyContent {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

#bodyContent img {
  max-height: 200px;
  margin-right: 10px;
}

#music-page > h1 {
  text-align: center;
  margin: 10px 10px;
  text-shadow: 3px 2px 2px black;
}

#song-request-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#song-request-form > div {
  display: inherit;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#song-request-button {
  margin: auto;
}

#song-list {
  color: ghostwhite;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  text-align: center;
  text-shadow: 3px 2px 2px black;
}

#song-list > ul {
  list-style-type: none;
  padding: 0;
}

#our-story-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  background-color: rgba(0,0,0,0.3);
  margin: auto;
}

#MapBtn:hover {
  background-color: ghostwhite;
  cursor: pointer;
}

.favorite-spots ol {
  padding-right: 40px;
}

#music-page-main {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 125px auto 100px auto;
  background-color: rgba(0,0,0,0.3);
  font-family: 'Amaranth', sans-serif;
  color: ghostwhite; 
}

#faq-submit-form input {
  margin: 5px 0;
  width: 80%;
}

#faq-submit-form textarea {
  margin: 5px 0;
  width: 80%;
  height: 12em;
}

#registry-links {
  display: flex;
  justify-content: space-evenly;
  font-size: 8em;
  margin: 15vh;
}

.registry-icon {
  color: ghostwhite;
}

/* #region Start of media queries below: */
@media screen and (min-width: 707px) {
  .navHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 100px;
  }

  .nav-links.open-links {
    background: none;
  }

  .nav-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    list-style: none;
    margin-bottom: 0;
    position: initial;
    background: none;
    margin: 0 auto;
    padding: 35px 0 0 0;
  }

  .nav-links li a,
  .nav-links li button {
    color: ghostwhite;
    /* font-family: "Amatic SC", cursive; */
    font-family: 'Amaranth', sans-serif;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
    text-shadow: 3px 2px 2px black;
    font-size: 25px;
  }

  .nav-links li a:hover,
  .nav-links li button:hover {
    font-weight: 700;
  }

  .nav-brand {
    color: ghostwhite;
    font-family: 'Amaranth', sans-serif;
    font-size: 25px;
    text-decoration: none;
    text-shadow: 3px 2px 2px black;
    position: absolute;
    top: 5px;
    right: 20px;
  }

  .nav-burger {
    display: none;
  }

  .navLogo {
    color: ghostwhite;
    font-family: "Great Vibes", cursive;
    text-align: center;
    padding: 5vh;
    display: inline-block;
    font-size: 15px;
  }

  .navLogo h1:nth-child(3) {
    display: flex;
  }

  .navLogo-story {
    color: ghostwhite;
    font-family: "Great Vibes", cursive;
    text-align: center;
    padding: 5vh;
    display: block;
  }

  #ampersand {
    font-family: "Great Vibes", cursive;
    font-size: 200%;
    padding-top: 0.15em;
    padding-right: 0.15em;
  }

  #index-main {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
  }

  #vital-information {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 10vh;
    align-items: stretch;
    color: ghostwhite;
    font-family: 'Amaranth', sans-serif;
    text-shadow: 3px 2px 2px black;
    font-size: 25px;
    background-color: rgba(0,0,0,0.3);
    margin-bottom: 5vh;
  }

  #vital-information h2 {
    text-align: center;
    text-decoration: underline;
  }

  #vital-information ul {
    list-style: none;
  }

  #index-image {
    padding-bottom: 10px;
  }
  
  #index-image > img {
    width: 60%;
    /*padding: 10vh 0;
    border: 5px solid lightgray;*/
  }

  .imageFrame-content {
    margin: auto;
    display: block;
    width: 50%;
    max-width: 700px;
    max-height: none;
  }

  .image-grid {
    display: inline-grid;
    grid-template-columns: repeat(6, 13%);
    margin-top: 40px;
    grid-gap: 10px;
    justify-content: center;
  }

  .nav-dropdown {
    transition: 0.5s;
  }

  .nav-dropdown > ul {
    transition: all 0.5s ease;
    background-color: rgba(0, 0, 0, .3);
    margin-left: 0;
    list-style: none;
    position: absolute;
    text-align: center;
    padding: 0;
  }

  #music-page > h1 {
    text-align: center;
    margin: 10px 10px;
    text-shadow: 3px 2px 2px black;
  }

  #song-request-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #song-request-form > div {
    display: inherit;
    justify-content: center;
  }

  #song-request-button {
    margin: auto;
  }

  #song-list {
    color: ghostwhite;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    text-align: center;
    text-shadow: 3px 2px 2px black;
  }

  #song-list > ul {
    list-style-type: none;
    padding: 0;
  }

  #our-story-main {
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-content: space-evenly;
    align-items: flex-start;
    background-color: rgba(0, 0, 0, .3);
    margin: 120px auto 0 auto;
  }

  .info-bio {
    color: ghostwhite;
    width: 40%;
    margin-top: 30px;
  }
  
  .info-bio p {
    white-space: pre-line;
  }   

  .favorite-spots ol {
    padding-right: 40px;
  }

  #faq-submit-form input {
    margin: 5px 0;
    width: 40%;
  }
  
  #faq-submit-form textarea {
    margin: 5px 0;
    width: 40%;
    height: 12em;
  }  

  #registry-links {
    display: flex;
    justify-content: space-evenly;
    font-size: 8em;
    margin: 15vh;
  }

  .registry-icon {
    color: ghostwhite;
  }
}

@media screen and (min-width: 890px) {
  #rsvpPage, #faqPage {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin: 125px auto 100px auto;
    background-color: rgba(0,0,0,0.3);
    font-family: 'Amaranth', sans-serif;
    color: ghostwhite;
    text-shadow: 3px 2px 2px black;
  }

  #rsvpPage > h2, #faqPage > h2 {
    display: flex;
    font-size: 50px;
    margin-bottom: 10px;
    text-align: center;
    justify-content: center;
    padding-top: 10vh;
  }

  #add-person {
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: ghostwhite;
    font-size: 25px;
    margin-bottom: 7px;
    text-shadow: inherit;
  }

  #add-person > i {
    font-size: 25px;
    color: lightgrey;
  }

  #rsvpPage > div, #faqPage > div {
    width: 100%;
  }

  #rsvpPage > div > form, #faqPage > div > form {
    width: 100%;
    text-align: center;
    padding-bottom: 10vh;
  }

  #rsvpPage .form-group {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
  }

  #faqPage .form-group {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .form-group input[type="text"] {
    width: 200px;
    margin: 0 25px;
    font-size: 25px;
  }

  #rsvpPage > div > form > .submit-button,
  #faqPage > div > form > .submit-button {
    font-size: 30px;
    margin-top: 15px;
  }

  #rsvpPage > div > form > .submit-button:hover, 
  #faqPage > div > form > .submit-button:hover {
    background-color: ghostwhite;
    cursor: pointer;
  }

  .box-break {
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    transform: none;
  }

  .form-group input[name*="email"] {
    margin-bottom: 0px;
  }

  .far.fa-times-circle.delete-button {
    width: 740px;
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
    margin-bottom: 5px;
    cursor: pointer;
  }

  #location-body {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 125px auto 100px auto;
  }

  #map {
    height: 500px;
    width: 500px;
    margin: 40px 0 0 0;
  }

  .info-bio-location {
    color: lightgray;
    margin: 40px 0 0 0;
    display: flex;
    flex-direction: column;
    width: 35%;
  }

  body.noscroll {
    overflow: hidden;
    padding-right: 15px;
  }  
}
/* #endregion Start of media queries below: */
